/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #3f11b6;
    background-color: #c46d11;
  }

  h1{
    color: blue;
    font-family: Georgia;
    font-size: 100%;
  }
  p {
    font-family: Georgia;
    text-indent: 20px;
  }

  #content {
    background-color: olivedrab;
    padding: 5px;
    font-size: 15px;
    border: dashed 1px black;
    width: 1000px;
    min-height: 300px;
  }